<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8">
	<![endif]-->

	<!--[if IE 9]>
	<html lang="en" class="ie9">
		<![endif]-->

		<!--[if !IE]>
		<!-->
		<html lang="en">
			<!--<![endif]-->

			<!-- BEGIN HEAD -->

<head>

			<meta charset="utf-8" />

			<title>Archive</title>

			<meta content="width=device-width, initial-scale=1.0" name="viewport" />

			<meta content="" name="description" />

			<meta content="" name="author" />

			<!-- BEGIN GLOBAL MANDATORY STYLES -->

			<link href="{{ url_for('.static', filename='lib/metronic/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>

			<link href="{{ url_for('.static', filename='lib/metronic/css/bootstrap-responsive.min.css')}}" rel="stylesheet" type="text/css"/>

			<link href="{{ url_for('.static', filename='lib/metronic/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css"/>

			<link href="{{ url_for('.static', filename='lib/metronic/css/style-metro.css')}}" rel="stylesheet" type="text/css"/>

			<link href="{{ url_for('.static', filename='lib/metronic/css/style.css')}}" rel="stylesheet" type="text/css"/>

			<link href="{{ url_for('.static', filename='lib/metronic/css/style-responsive.css')}}" rel="stylesheet" type="text/css"/>

			<link href="{{ url_for('.static', filename='lib/metronic/css/default.css')}}" rel="stylesheet" type="text/css" id="style_color"/>

			<link href="{{ url_for('.static', filename='lib/metronic/css/uniform.default.css')}}" rel="stylesheet" type="text/css"/>

			<!-- END GLOBAL MANDATORY STYLES -->

			
				<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/bootstrap-fileupload.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/jquery.gritter.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/chosen.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/select2_metro.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/jquery.tagsinput.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/clockface.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/bootstrap-wysihtml5.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/datepicker.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/timepicker.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/colorpicker.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/bootstrap-toggle-buttons.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/daterangepicker.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/datetimepicker.css')}}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='lib/metronic/css/multi-select-metro.css')}}" />

	<link href="{{ url_for('.static',filename='lib/metronic/css/bootstrap-modal.css')}}" rel="stylesheet" type="text/css"/>

	

			<!-- BEGIN PAGE LEVEL STYLES -->

			<link href="{{ url_for('.static', filename='lib/metronic/css/login.css')}}" rel="stylesheet" type="text/css"/>

			<!-- END PAGE LEVEL STYLES -->

			<link rel="shortcut icon" href="{{ url_for('.static', filename='lib/metronic/image/favicon.ico')}}" />



			<!-- END HEAD -->

			<!-- BEGIN BODY -->

<body class="login">
			{%- block content %}{%- endblock %}
			
			<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

			<!-- BEGIN CORE PLUGINS -->

			<script src="{{ url_for('.static', filename='lib/metronic/js/jquery-1.10.1.min.js')}}" type="text/javascript"></script>

			<script src="{{ url_for('.static', filename='lib/metronic/js/jquery-migrate-1.2.1.min.js')}}" type="text/javascript"></script>

			<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

			<script src="{{ url_for('.static', filename='lib/metronic/js/jquery-ui-1.10.1.custom.min.js')}}" type="text/javascript"></script>

			<script src="{{ url_for('.static', filename='lib/metronic/js/bootstrap.min.js')}}" type="text/javascript')}}"></script>

			<!--[if lt IE 9]>

			<script src="{{ url_for('.static', filename='lib/metronic/js/excanvas.min.js')}}"></script>

			<script src="{{ url_for('.static', filename='lib/metronic/js/respond.min.js')}}"></script>

			<![endif]-->

			<script src="{{ url_for('.static', filename='lib/metronic/js/jquery.slimscroll.min.js')}}" type="text/javascript"></script>

			<script src="{{ url_for('.static', filename='lib/metronic/js/jquery.blockui.min.js')}}" type="text/javascript"></script>

			<script src="{{ url_for('.static', filename='lib/metronic/js/jquery.cookie.min.js')}}" type="text/javascript"></script>

			<script src="{{ url_for('.static', filename='lib/metronic/js/jquery.uniform.min.js')}}" type="text/javascript" ></script>

			<!-- END CORE PLUGINS -->

			<!-- BEGIN PAGE LEVEL PLUGINS -->

			<script src="{{ url_for('.static', filename='lib/metronic/js/jquery.validate.min.js')}}" type="text/javascript"></script>

			<script src="{{ url_for('.static', filename='lib/metronic/js/app.js')}}" type="text/javascript"></script>
			
			<!-- END PAGE LEVEL PLUGINS -->

			<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/ckeditor.js')}}"></script>  

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/bootstrap-fileupload.js')}}"></script>

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/chosen.jquery.min.js')}}"></script>

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/select2.min.js')}}"></script>

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/wysihtml5-0.3.0.js')}}"></script> 

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/bootstrap-wysihtml5.js')}}"></script>

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/jquery.tagsinput.min.js')}}"></script>

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/jquery.toggle.buttons.js')}}"></script>

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/bootstrap-datepicker.js')}}"></script>

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/bootstrap-datetimepicker.js')}}"></script>

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/clockface.js')}}"></script>

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/date.js')}}"></script>

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/daterangepicker.js')}}"></script> 

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/bootstrap-colorpicker.js')}}"></script>  

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/bootstrap-timepicker.js')}}"></script>

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/jquery.inputmask.bundle.min.js')}}"></script>   

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/jquery.input-ip-address-control-1.0.min.js')}}"></script>

	<script type="text/javascript" src="{{ url_for('.static',filename='lib/metronic/js/jquery.multi-select.js')}}"></script>   

	<script src="{{ url_for('.static',filename='lib/metronic/js/bootstrap-modal.js')}}" type="text/javascript" ></script>


	<!-- END PAGE LEVEL PLUGINS -->
<script>

		jQuery(document).ready(function() {    

		   App.init();

		});

	</script>
	{%- block javascript  %}{%- endblock %}
	<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script></body>
			<!-- BEGIN PAGE LEVEL SCRIPTS -->

			<!-- END PAGE LEVEL SCRIPTS -->

			<!-- END JAVASCRIPTS -->
			<!-- END BODY -->

		</html>