  <div class="page-sidebar nav-collapse collapse">
  	<!-- BEGIN SIDEBAR MENU -->  
  	<ul class="page-sidebar-menu">
  		<li>
  			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->  
  			<div class="sidebar-toggler hidden-phone"></div>
  			<!-- BEGIN SIDEBAR TOGGLER BUTTON --> </li>
  		<li>
  			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->  
  			<!-- <form class="sidebar-search">
  				<div class="input-box">
  					<a href="javascript:;" class="remove"></a>
  					<input type="text" placeholder="Search..." />  
  					<input type="button" class="submit" value=" " />  
  				</div>
  			</form> -->
  			<!-- END RESPONSIVE QUICK SEARCH FORM --> </li>
  		<li class="start ">
  			<a href="/"> <i class="icon-dashboard"></i>
  				<span class="title">Dashboard</span>
  			</a>
  		</li>

  		<li class="start ">
  			<a href="{{url_for('goal.index')}}"> <i class="icon-check"></i>
  				<span class="title">Goal</span>
  			</a>
  		</li>

  		<li class="start ">
  			<a href="{{url_for('category.index')}}"> <i class="icon-tag"></i>
  				<span class="title">Category</span>
  			</a>
  		</li>

  		<!-- <li class="start ">
  			<a href="{{url_for('advertisement.index')}}"> <i class="icon-bullhorn"></i>
  				<span class="title">Advertisement</span>
  			</a>
  		</li> -->
  		
  	</ul>
  	<!-- END SIDEBAR MENU --> </div>
  <!-- END SIDEBAR -->  